@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Merriweather&display=swap');

*{
  font-family: "Roboto",sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}


.light{
  border: 2px solid  hsl(0,0%,98%);
  box-shadow: 3px 3px whitesmoke;
}

.dark{
  background-color: hsl(207,26%,17%);
  color:hsl(0,0%,98%);
  border: 2px solid hsl(207,26%,17%);
  box-shadow: 1px 1px black;
}